.post-it{
    flex-direction: row;
    min-width: 5vw;
    min-height: 2vw;
    background-color: orange;
    border-radius: 5%;
    color:white;
    padding:0;
    margin:0.3rem;
}
.creator{
    color: gray;
    border-bottom: 1px solid lightgray;
    border-radius: 5%;
    margin:0.3vw;

}