.App {
  display:flex;
  justify-content: center;
  text-align: center;
  margin:2vw;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
