.board{

    position: relative;
    text-align: center;
    border-radius: 10%;
    min-width:5vw;
    margin: 5px;
    font-size: 1rem;
    color:gray;
    padding:0;
}
.title{
    color:black;
}

.backlog{
    display:flex;

    width: 50vw;
}
