<style>
    .board {
        width: 300px;
        height: 800px;
        border: solid 1px #000;
        display: inline-block;
    }
    .board-header {
        width: 100%;
        height: 30px;
        border-bottom: solid 1px;
    }
    .issue-board {
        width: 100%;
        height: 200px;
        border: solid 1px #000;
    }
    .issue {
        background-color:rgb(240, 173, 78);
        width: 150px;
        min-height: 60px;
        padding: 5px;
        display: inline-block;
    }
</style>
<div class="board">
<div class="board-header">
To-do
</div>
</div>
<div class="board">
<div class="board-header">
Doing
</div>
</div>
<div class="board">
<div class="board-header">
Completed
</div>
</div>
<div class="board">
<div class="board-header">
QA
</div>
</div>
<div class="board">
<div class="board-header">
Closed
</div>
</div>
<div class="issue-board">
<div class="board-header">
    Backlog
</div>
<div class="issue" draggable="true">
    A feature requested from user to improve overall efficiency.
</div>
<div class="issue" draggable="true">
    Enhancement requested from product owner to improve overall design.
</div>
</div>